# ----------------------------------------------------------------------
# Web開発で一般的に無視すべきファイル
# ----------------------------------------------------------------------

# 環境変数ファイル (APIキーなど機密情報を含む可能性)
.env
.env.local

# macOSのメタデータ
.DS_Store

# 開発エディタの設定ファイル
.vscode/

# Node.jsの依存関係フォルダ (巨大なためGitには含めない)
/node_modules
